<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

</head>

<body>


    <header>
        <nav class="navbar navbar-expand-lg bg-white fw-bold py-3">
            <div class="container">
                <div class="row">

                </div>
                <a class="navbar-brand fw-bold fs-3 link-primary " href="#">Uzay Dershanesi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse  navbar-collapse  " id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Kayıt
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item " href="#">Bursluluk Sınavı</a></li>
                                <li><a class="dropdown-item" href="#">Ücretli Kayıt</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Bize Ulaşın</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Hakkımızda</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Öğrenciler</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Eğitmenler</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">İletişim</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </header>


    <section class=" py-5">
        <div class="container g-5">
            <div class="row ">

                <div class="col-md-7 ">
                    <div class="container">

                        <div class="container position-relative">
                            <div class="position-sm-absolute end-0 ">
                                <img src="../assets/images/drawbook2.png" class="img-fluid w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 d-flex align-self-start mb-5">
                    <div class="container py-2 ">
                        <h1 class="fw-bold display-5">Eğitime Önem Geleceğe Önem Demektir ! </h1>
                        <p class="lead text-muted">Biz Uzay Dershanesinde Çocuklarınıza, Temel bilimleri onların
                            dikkatini çekebilecek şekilde eğitirken.Kariyer Planlamalarına yardımcı oluyoruz</p>
                        <div class="link-group d-flex justify-content-start">
                            <a href="" class="btn btn-header px-3  mx-1 py-2   ">Daha Fazlası !</a>
                            <a href="" class="btn btn-header-violet px-3 mx-1 py-2  ">Eğitimlerimiz</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="py-5 ismb-1">
        <div class="container position-md-relative">
            <div class="row flex-lg-row-reverse align-items-center">
                <div class="col-md-6">
                    <div class=" ">
                        <img src="../assets/images/gradep.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="text-dark fw-bold">İlk 10.000'e giren 10.000 öğrencimiz ile gurur duyuyoruz</h1>
                    <p class="lead text-muted">
                        Kalite Tesadüf Değildir . 10.000 öğrencimiz türkiyedeki diğer öğrencilerden farksızdır . sadece
                        doğru insan doğru yerde eğitim alarak zorlukları basitlere indirgeyebilir . Motivasyonu 0 ve
                        günlük 0 saat ders çalışan öğrencileri eğitime geri kazandırıyoruz
                    </p>
                    <div class="link-group d-flex justify-content-start pb-5">
                        <a href="" class="btn btn-header px-3  mx-1 py-2   ">Gurur Tablosu</a>
                        <a href="" class="btn btn-header-violet px-3 mx-1 py-2  ">Eğitmenler</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features py-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-4  ismb-1">
                    <div class="card h-100 border-0 rounded-0 shadow-sm position-relative">
                        <i class="electric d-flex justify-content-center "><img src="../assets/images/educate.png"
                                alt="" class="position-absolute  "></i>
                        <h3 class="text-center">Efektif Öğrenme</h3>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellendus minus odio
                            aspernatur ex officiis blanditiis expedita nisi tenetur quaerat. A ea officiis nesciunt
                            voluptas molestias quia accusantium aliquam obcaecati sapiente corporis laboriosam cum modi
                            suscipit, et nobis, in architecto?
                        </p>
                    </div>
                </div>

                <div class="col-md-4 ismb-1">
                    <div class="card h-100 border-0 rounded-0 shadow-sm position-relative">
                        <i class="electric d-flex justify-content-center "><img src="../assets/images/bulb.png" alt=""
                                class="position-absolute  "></i>
                        <h3 class="text-center">Hızlı Öğrenme</h3>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellendus minus odio
                            aspernatur ex officiis blanditiis expedita nisi tenetur quaerat. A ea officiis nesciunt
                            voluptas molestias quia accusantium aliquam obcaecati sapiente corporis laboriosam cum modi
                            suscipit, et nobis, in architecto?
                        </p>
                    </div>
                </div>

                <div class="col-md-4 ismb-1">
                    <div class="card h-100 border-0 rounded-0 shadow-sm position-relative">
                        <i class="electric d-flex justify-content-center "><img src="../assets/images/pc.png" alt=""
                                class="position-absolute  "></i>
                        <h3 class="text-center">Hızlı Öğrenme</h3>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellendus minus odio
                            aspernatur ex officiis blanditiis expedita nisi tenetur quaerat. A ea officiis nesciunt
                            voluptas molestias quia accusantium aliquam obcaecati sapiente corporis laboriosam cum modi
                            suscipit, et nobis, in architecto?
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section class="py-5">
        

        <div class="container isgm-1">
            <div class="row">
                <div class="col-lg-12 text-center my-2 pb-4">
                    <h1 class="py-3"><a href="https://spreeowl.com/" class="text-dark" style="text-decoration: none;">GALERİMİZ</a></h1>
                    <h4>Uzay Dershanesinin Düzenlediği Faaliyetleri Görün !</h4>
                </div>
            </div>
           
            <div class="portfolio-item row ">
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                    <a href="https://image.freepik.com/free-photo/stylish-young-woman-with-bags-taking-selfie_23-2147962203.jpg"
                        class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid"
                            src="https://image.freepik.com/free-photo/stylish-young-woman-with-bags-taking-selfie_23-2147962203.jpg"
                            alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                    <a href="https://image.freepik.com/free-photo/pretty-girl-near-car_1157-16962.jpg"
                        class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid"
                            src="https://image.freepik.com/free-photo/pretty-girl-near-car_1157-16962.jpg" alt="">
                    </a>
                </div>
                
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                    <a href="https://image.freepik.com/free-photo/young-brunette-woman-with-sunglasses-urban-background_1139-893.jpg"
                        class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid"
                            src="https://image.freepik.com/free-photo/young-brunette-woman-with-sunglasses-urban-background_1139-893.jpg"
                            alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                    <a href="https://image.freepik.com/free-psd/laptop-digital-device-screen-mockup_53876-76509.jpg"
                        class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid"
                            src="https://image.freepik.com/free-psd/laptop-digital-device-screen-mockup_53876-76509.jpg"
                            alt="">
                    </a>
                </div>
               
                
                
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                    <a href="https://image.freepik.com/free-photo/multiracial-group-young-people-taking-selfie_1139-1032.jpg"
                        class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid"
                            src="https://image.freepik.com/free-photo/multiracial-group-young-people-taking-selfie_1139-1032.jpg"
                            alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-6 col-sm">
                    <a href="https://image.freepik.com/free-photo/two-smiling-girls-take-selfie-their-phones-posing-with-lollipops_8353-5600.jpg"
                        class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid"
                            src="https://image.freepik.com/free-photo/two-smiling-girls-take-selfie-their-phones-posing-with-lollipops_8353-5600.jpg"
                            alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                    <a href="https://image.freepik.com/free-photo/female-friends-sitting-car-hood-taking-self-portrait_23-2147855623.jpg"
                        class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid"
                            src="https://image.freepik.com/free-photo/female-friends-sitting-car-hood-taking-self-portrait_23-2147855623.jpg"
                            alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                    <a href="https://image.freepik.com/free-photo/two-smiling-girls-take-selfie-their-phones-posing-with-lollipops_8353-5600.jpg"
                        class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid"
                            src="https://image.freepik.com/free-photo/two-smiling-girls-take-selfie-their-phones-posing-with-lollipops_8353-5600.jpg"
                            alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="../assets/js/general.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</body>

</html>